.idea/
Client/Temp
Client/*.csproj
Client/*.sln
Client/UserSettings
Client/Library
Client/Logs
Client/obj
.history/
Client/AssetBundle
Client/Bundles
Client/yoo
DataTable/Datas/~$*.xlsx
DataTable/Localization/~$*.xlsx
DataTable/Localization_Launch/~$*.xlsx
DataTable/~$*s.xlsx
